.object-wrapper {
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.object-wrapper .sub-header {
  width: 100%;
}
.object-wrapper .objectInput-wrapper,
.object-wrapper .checkBox,
.object-wrapper .editData {
  border-bottom: 1px solid var(--border-color-20);
}
.object-wrapper .head {
  font-size: var(--font-size-title);
  color: var(--lite-gray-80);
}
.object-wrapper .userDatas {
  width: 100%;
}
.object-wrapper .userDatas .sub-header {
  padding-bottom: 16px;
}
.object-wrapper .userDatas .sub-header .add {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.object-wrapper .userDatas .data-wrapper {
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.object-wrapper .userDatas .data-wrapper .data {
  width: 100%;
}
.object-wrapper .userDatas .data-wrapper .left {
  gap: 10px;
}
.object-wrapper .userDatas .data-wrapper .left input {
  width: 110px;
  height: 18px;
  border: 1px solid var(--highlight-light-color);
}
.object-wrapper .userDatas .data-wrapper .left .close-button {
  cursor: pointer;
}
.object-wrapper .editData {
  width: 100%;
  border: 1px solid var(--highlight-light-color);
  border-radius: 6px;
  padding: 10px;
}
.object-wrapper .editData .sub-header {
  padding-bottom: 10px;
}
.object-wrapper .editData .editData-wrapper {
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.object-wrapper .editData .editData-wrapper .edit-data-list {
  width: 100%;
}
.object-wrapper .editData .editData-wrapper .minMax {
  gap: 6px;
}
.object-wrapper .editData .editData-wrapper .minMax input {
  width: 58px;
}
.object-wrapper .editData .editData-wrapper table {
  width: 100%;
  border-spacing: 0 10px;
}
.object-wrapper .editData .editData-wrapper .key {
  text-align: left;
  padding: 0 8px;
}
.object-wrapper .editData .editData-wrapper input.full-width {
  width: 100px;
  box-sizing: border-box;
}
.object-wrapper .editData .editData-wrapper input.max-width {
  width: 58px;
}
.object-wrapper .editData .btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
}
.object-wrapper .editData .btn-container button {
  padding: 5px 19px;
}
.object-wrapper .editData .btn-container .cancel {
  background-color: var(--button-abort-color);
  color: var(--primary-color);
}

.checkBox,
.objectInput-wrapper {
  padding-top: 0px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  gap: 15px;
}
.checkBox .objectInput-container,
.objectInput-wrapper .objectInput-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.checkBox .label,
.objectInput-wrapper .label {
  width: 100%;
  justify-content: space-between;
}
.checkBox .objectInputs,
.objectInput-wrapper .objectInputs {
  display: flex;
  align-items: center;
  gap: 6px;
}
.checkBox .objectInputs .object-input,
.objectInput-wrapper .objectInputs .object-input {
  display: flex;
  align-items: center;
  gap: 6px;
}
.checkBox .objectInputs .object-input .value,
.objectInput-wrapper .objectInputs .object-input .value {
  width: 36px;
}
.checkBox .objectInputs .object-input .value input,
.objectInput-wrapper .objectInputs .object-input .value input {
  width: 100%;
}/*# sourceMappingURL=object.css.map */