.createPost-wrapper {
  width: 100%;
  padding: 10px 20px;
  box-shadow: $shadow-main;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .createPost-header {
    display: flex;
    align-items: center;
    // justify-content: ;
    height: 50px;
    gap: 20px;

    .message {
      height: 80%;
      width: 100%;
      border: 1px solid $battleship-gray;
      position: relative;
      border-radius: 12px;

      input {
        // padding: 0 10px;
        padding-right: 50px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: transparent !important;
      }

      .emoji {
        display: flex;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        cursor: pointer;
      }
    }
  }

  .create-post-content {
    .create-post-content-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      .create-post-content {}
    }
  }

  .create-post-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }

  button {
    margin-top: 0;
  }
}

// DropDown

.publicPrivate {
  margin-top: 10px;
}

.publicPrivate label {
  font-size: 14px;
  margin-right: 10px;
}

.publicPrivate select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.createPost-wrapper {
  width: 100%;
  //   max-width: 600px;
  // padding: 20px;

  border-radius: 8px;
}

.create-post-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  //   margin-bottom: 20px;
  padding: 10px 0;

  .create-post-content {
    flex-direction: row;
  }
}

.uploadedAssetPreview {
  margin-top: 20px;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-preview-item {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
}

.image-preview-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-image-btn {
  position: absolute;
  top: -5px;
  right: 5px;
  //   background-color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.remove-image-btn:hover {
  background-color: transparent;
  color: rgb(202, 8, 8);
}

.image-upload input {
  margin-top: 10px;
}

.visibility-dropdown {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}