.toolbar-wrapper {
  position: absolute;
  top: 50%;
  left: 255px;
  transform: translate(0, -50%);
  flex-direction: column;
  padding-left: 16px;
  pointer-events: none;
  .tool-button {
    position: relative;
    pointer-events: all;
    background-color: var(--primary-color);
    border-radius: 8px;
    height: 30px;
    width: 30px;
    box-shadow: var(--shadow-main);
    cursor: pointer;
    .tool-tip {
      display: none;
      position: absolute;
      left: 40px;
      white-space: nowrap;
      background-color: var(--primary-color);
      border-radius: 6px;
      min-width: 70px;
      text-align: center;
      padding: 4px 0;
      box-sizing: var(--shadow-main);
      &::before {
        content: "";
        background-color: var(--primary-color);
        position: absolute;
        height: 6px;
        width: 6px;
        left: -5px;
        top: 50%;
        transform: translate(0, -50%);
        clip-path: path("M0 4L7 8V0L0 4Z");
      }
    }
    &:hover {
      outline: 2px solid var(--secondary-color);
      .tool-tip {
        display: block;
      }
    }
  }
}
